.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    width: 70px;
    height: 100%;
    padding: 25px;
    margin-bottom: 25px;
   
  }

  .nav-links-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;

    .nav-link {
      text-decoration: none;
      padding: 10px 15px;
      cursor: pointer;
      color: rgb(55, 57, 59);
      font-family: 'Open Sans', sans-serif;
    
    }
  }
}
